<!DOCTYPE html>
<!--Defining xml namespace as that of thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Student Confirmation</title>
</head>
<body>

    <h3>Student Confirmation</h3>

    The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName} + ' from ' + ${student.country} + ' whose favorite programming language is ' +${student.favoriteLanguage} + ' and favorite OSes is/are '"/>

    <ul>
        <li th:each="tempOS : ${student.favoriteOS}" th:text="${tempOS}"/>
    </ul>

</body>
</html>